body{

    background-image: url("../images/index1.png");
    background-size: 100vw 100vh;
}
.char1{
    
    position: absolute;
    top: 35%;
    left: 12%;
    width:24%;
    animation: pulse 2s linear infinite;

}


@-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  



.char2{
    
    position: absolute;
    top: 18%;
    left: 30%;
    width:30%;
    animation: pulse 2s linear infinite;

}


.btns
{
    position: absolute;
    top: 40%;
    left: 60%;
    width: 40%;
    height: 50%;
    /* animation: pulse 2s linear infinite; */


}
.play , .opt , .profile , .map{
    position: absolute;
    background-color:black;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    font-family: cursive;
    font-weight: bold;
    font-size: large;
    color: #f2a423;
    border: none;
    box-shadow: -5px 3px 10px 2px #be895d65;
}
input:hover{
    width: 5em;
    height: 5em; 
    border-radius: 3em;
    transition: 10ms;
    box-shadow: -12px -2px 12px 2px #be895d65;

}
.opt{
    top: 6em;
}
.profile
{
    top: 12em;
}