body{

    background-image: url("../images/index1.png");
    background-size: 100vw 100vh;
}
.char1{
    position: absolute;
    top: 18%;
    left: 5%;
    width:20%;
}
.char2{
    position: absolute;
    top: 18%;
    left: 25%;
    width:20%;
}
#chosenChar{
    position: absolute;
    color: aliceblue;
    bottom: 20%;
    left: 20%;
}
#chooseChar{
    position: absolute;
    color: aliceblue;
    top: 5%;
    left: 20%;
}

.backDiv{
    position: absolute;
    left: 60px;
    bottom: 35px;
    float: left;
}
.backBtn{
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: brown dashed 2px;
}
.audio
{
    position: absolute;
    bottom: 35px;
    left: 250px;
}
.audioImg{
    width: 50px;
    height: 50px;
}