
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}


#main_window{
    background-image: url(../images/levels_images/back1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: inherit;
    position: relative;
    background-size: cover;
}


/*
#background{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
*/

#scoreDisplay{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 20%;
    height: 15%;
    z-index: 2;
    background-color: #6061606e;
    border-radius: 0.5em;
    font-size: 1em;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 1em;
    padding-top: 2em;
    color: beige;
}

/*
#left , #right{

    display: inline;
    padding: 1px;

}
*/
.scoreFld , .coinsFld{
    display: inline;
    padding-right:3em;
}

.lvlFld {
    display: inline;
    padding-right:3.3em;
}

/*
.lvlFld , .weaponFld {
    display: inline;
    padding-right:3.3em;
}
*/
.healthFld , .noLivesFld{
    display: inline;
    padding-right:2em;
}

.gameEnd
{
    position: absolute;
    display: none;
    left: 50%;
    padding: 0px;
    width: 15%;
    height: 25%;
    bottom: 5%;
    z-index: 0;
}
@-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }

#man{

    position: absolute;
    padding: 0px;
    width: 15%;
    height: 20%;
    bottom: 2%;
    z-index: 1;
    animation: pulse 3s linear infinite;

}

.ene{
    position: absolute;
    padding: 0px;
    width: 12%;
    height: 25%;
    bottom: 2%;
    display: none;
    animation: pulse 3s linear infinite;

}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  @keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

.coin {
    position: absolute;
    width: 2%;
    height: 5%;
    bottom: 7%;
    animation: bounce 3s linear infinite;

}

#profile_background {
    background-image: url(../images/profile_background.jpg);
    background-repeat: no-repeat;
    width: 100%;

    background-size: cover;
}

#lives {
    margin-left: 1vw;
    width: 20vw;
    text-align: center;
    color: red;
    display: inline-block;
}
#livesCount,#level,#character{
    margin: 0;
}

#livesImage {
    position: relative;
    width: 10vw;
    height: 10vw;
}


#score {
    width: 20vw;
    height: 20vw;
    opacity: .7;
    margin: 0 auto;
}



/*========================= Mo3tasem */

.bullet{
    width: 25px;
    height: 25px;
    position: relative;
    padding: 0px;
}

.live,.score,.level,.charchter{
    float: left;
    width: 20vw;
    height: 25vh;
    text-align: center;
    padding: 15px 20px;
}

.live h2,.score h2,.level h2,.charchter h2{
    color: #f3d48f;
    padding-top: 5px;
}
#container{
    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;
}
.enemyBullet{
    width: 20px;
    height: 20px;
    position: relative;
}
.backDiv{
    position: absolute;
    left: 60px;
    bottom: 20px;
}
.backBtn{
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: brown dashed 2px;
}


.badge{
    display: inline-block;
    margin: 0 20px;
    background-color:rgba(243,212,143,.3);
    width: 25%;
    height: 75%;
}

.profContainer{
    height: 25%;
}
.badges{
height:50%;
    margin: 60px auto;
    text-align: center;
    color: burlywood;
}
/*
#enemy{
    width: 30px;
    height: 80px;
    position: absolute;
    background-color: crimson;
    top: 280px;
    left: 1220px;
}
*/